<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.BackstockMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.po.Backstock" >
    <id column="Bsid" property="bsid" jdbcType="INTEGER" />
    <result column="Sid" property="sid" jdbcType="INTEGER" />
    <result column="Iid" property="iid" jdbcType="INTEGER" />
    <result column="Uname" property="uname" jdbcType="VARCHAR" />
    <result column="Bsreson" property="bsreson" jdbcType="VARCHAR" />
    <result column="Bstime" property="bstime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Bsid, Sid, Iid, Uname, Bsreson, Bstime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaohe.po.BackstockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from backstock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from backstock
    where Bsid = #{bsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from backstock
    where Bsid = #{bsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaohe.po.BackstockExample" >
    delete from backstock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaohe.po.Backstock" >
    insert into backstock (Bsid, Sid, Iid, 
      Uname, Bsreson, Bstime
      )
    values (#{bsid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{iid,jdbcType=INTEGER}, 
      #{uname,jdbcType=VARCHAR}, #{bsreson,jdbcType=VARCHAR}, #{bstime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.po.Backstock" >
    insert into backstock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bsid != null" >
        Bsid,
      </if>
      <if test="sid != null" >
        Sid,
      </if>
      <if test="iid != null" >
        Iid,
      </if>
      <if test="uname != null" >
        Uname,
      </if>
      <if test="bsreson != null" >
        Bsreson,
      </if>
      <if test="bstime != null" >
        Bstime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bsid != null" >
        #{bsid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="bsreson != null" >
        #{bsreson,jdbcType=VARCHAR},
      </if>
      <if test="bstime != null" >
        #{bstime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaohe.po.BackstockExample" resultType="java.lang.Integer" >
    select count(*) from backstock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update backstock
    <set >
      <if test="record.bsid != null" >
        Bsid = #{record.bsid,jdbcType=INTEGER},
      </if>
      <if test="record.sid != null" >
        Sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.iid != null" >
        Iid = #{record.iid,jdbcType=INTEGER},
      </if>
      <if test="record.uname != null" >
        Uname = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.bsreson != null" >
        Bsreson = #{record.bsreson,jdbcType=VARCHAR},
      </if>
      <if test="record.bstime != null" >
        Bstime = #{record.bstime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update backstock
    set Bsid = #{record.bsid,jdbcType=INTEGER},
      Sid = #{record.sid,jdbcType=INTEGER},
      Iid = #{record.iid,jdbcType=INTEGER},
      Uname = #{record.uname,jdbcType=VARCHAR},
      Bsreson = #{record.bsreson,jdbcType=VARCHAR},
      Bstime = #{record.bstime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.po.Backstock" >
    update backstock
    <set >
      <if test="sid != null" >
        Sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        Iid = #{iid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        Uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="bsreson != null" >
        Bsreson = #{bsreson,jdbcType=VARCHAR},
      </if>
      <if test="bstime != null" >
        Bstime = #{bstime,jdbcType=DATE},
      </if>
    </set>
    where Bsid = #{bsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.po.Backstock" >
    update backstock
    set Sid = #{sid,jdbcType=INTEGER},
      Iid = #{iid,jdbcType=INTEGER},
      Uname = #{uname,jdbcType=VARCHAR},
      Bsreson = #{bsreson,jdbcType=VARCHAR},
      Bstime = #{bstime,jdbcType=DATE}
    where Bsid = #{bsid,jdbcType=INTEGER}
  </update>
</mapper>