<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.IndentMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.po.Indent" >
    <id column="Bid" property="bid" jdbcType="INTEGER" />
    <result column="Bconsignee" property="bconsignee" jdbcType="VARCHAR" />
    <result column="Bsid" property="bsid" jdbcType="INTEGER" />
    <result column="Baddress" property="baddress" jdbcType="INTEGER" />
    <result column="Bphone" property="bphone" jdbcType="INTEGER" />
    <result column="Bdid" property="bdid" jdbcType="INTEGER" />
    <result column="Bdate" property="bdate" jdbcType="DATE" />
    <result column="Buname" property="buname" jdbcType="VARCHAR" />
    <result column="Bstatus" property="bstatus" jdbcType="VARCHAR" />
    <result column="Bprice" property="bprice" jdbcType="REAL" />
    <result column="Bdeliver" property="bdeliver" jdbcType="VARCHAR" />
    <result column="Bordertime" property="bordertime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Bid, Bconsignee, Bsid, Baddress, Bphone, Bdid, Bdate, Buname, Bstatus, Bprice, Bdeliver, 
    Bordertime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaohe.po.IndentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from indent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from indent
    where Bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from indent
    where Bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaohe.po.IndentExample" >
    delete from indent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaohe.po.Indent" >
    insert into indent (Bid, Bconsignee, Bsid, 
      Baddress, Bphone, Bdid, 
      Bdate, Buname, Bstatus, 
      Bprice, Bdeliver, Bordertime
      )
    values (#{bid,jdbcType=INTEGER}, #{bconsignee,jdbcType=VARCHAR}, #{bsid,jdbcType=INTEGER}, 
      #{baddress,jdbcType=INTEGER}, #{bphone,jdbcType=INTEGER}, #{bdid,jdbcType=INTEGER}, 
      #{bdate,jdbcType=DATE}, #{buname,jdbcType=VARCHAR}, #{bstatus,jdbcType=VARCHAR}, 
      #{bprice,jdbcType=REAL}, #{bdeliver,jdbcType=VARCHAR}, #{bordertime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.po.Indent" >
    insert into indent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        Bid,
      </if>
      <if test="bconsignee != null" >
        Bconsignee,
      </if>
      <if test="bsid != null" >
        Bsid,
      </if>
      <if test="baddress != null" >
        Baddress,
      </if>
      <if test="bphone != null" >
        Bphone,
      </if>
      <if test="bdid != null" >
        Bdid,
      </if>
      <if test="bdate != null" >
        Bdate,
      </if>
      <if test="buname != null" >
        Buname,
      </if>
      <if test="bstatus != null" >
        Bstatus,
      </if>
      <if test="bprice != null" >
        Bprice,
      </if>
      <if test="bdeliver != null" >
        Bdeliver,
      </if>
      <if test="bordertime != null" >
        Bordertime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bconsignee != null" >
        #{bconsignee,jdbcType=VARCHAR},
      </if>
      <if test="bsid != null" >
        #{bsid,jdbcType=INTEGER},
      </if>
      <if test="baddress != null" >
        #{baddress,jdbcType=INTEGER},
      </if>
      <if test="bphone != null" >
        #{bphone,jdbcType=INTEGER},
      </if>
      <if test="bdid != null" >
        #{bdid,jdbcType=INTEGER},
      </if>
      <if test="bdate != null" >
        #{bdate,jdbcType=DATE},
      </if>
      <if test="buname != null" >
        #{buname,jdbcType=VARCHAR},
      </if>
      <if test="bstatus != null" >
        #{bstatus,jdbcType=VARCHAR},
      </if>
      <if test="bprice != null" >
        #{bprice,jdbcType=REAL},
      </if>
      <if test="bdeliver != null" >
        #{bdeliver,jdbcType=VARCHAR},
      </if>
      <if test="bordertime != null" >
        #{bordertime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaohe.po.IndentExample" resultType="java.lang.Integer" >
    select count(*) from indent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update indent
    <set >
      <if test="record.bid != null" >
        Bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.bconsignee != null" >
        Bconsignee = #{record.bconsignee,jdbcType=VARCHAR},
      </if>
      <if test="record.bsid != null" >
        Bsid = #{record.bsid,jdbcType=INTEGER},
      </if>
      <if test="record.baddress != null" >
        Baddress = #{record.baddress,jdbcType=INTEGER},
      </if>
      <if test="record.bphone != null" >
        Bphone = #{record.bphone,jdbcType=INTEGER},
      </if>
      <if test="record.bdid != null" >
        Bdid = #{record.bdid,jdbcType=INTEGER},
      </if>
      <if test="record.bdate != null" >
        Bdate = #{record.bdate,jdbcType=DATE},
      </if>
      <if test="record.buname != null" >
        Buname = #{record.buname,jdbcType=VARCHAR},
      </if>
      <if test="record.bstatus != null" >
        Bstatus = #{record.bstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.bprice != null" >
        Bprice = #{record.bprice,jdbcType=REAL},
      </if>
      <if test="record.bdeliver != null" >
        Bdeliver = #{record.bdeliver,jdbcType=VARCHAR},
      </if>
      <if test="record.bordertime != null" >
        Bordertime = #{record.bordertime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update indent
    set Bid = #{record.bid,jdbcType=INTEGER},
      Bconsignee = #{record.bconsignee,jdbcType=VARCHAR},
      Bsid = #{record.bsid,jdbcType=INTEGER},
      Baddress = #{record.baddress,jdbcType=INTEGER},
      Bphone = #{record.bphone,jdbcType=INTEGER},
      Bdid = #{record.bdid,jdbcType=INTEGER},
      Bdate = #{record.bdate,jdbcType=DATE},
      Buname = #{record.buname,jdbcType=VARCHAR},
      Bstatus = #{record.bstatus,jdbcType=VARCHAR},
      Bprice = #{record.bprice,jdbcType=REAL},
      Bdeliver = #{record.bdeliver,jdbcType=VARCHAR},
      Bordertime = #{record.bordertime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.po.Indent" >
    update indent
    <set >
      <if test="bconsignee != null" >
        Bconsignee = #{bconsignee,jdbcType=VARCHAR},
      </if>
      <if test="bsid != null" >
        Bsid = #{bsid,jdbcType=INTEGER},
      </if>
      <if test="baddress != null" >
        Baddress = #{baddress,jdbcType=INTEGER},
      </if>
      <if test="bphone != null" >
        Bphone = #{bphone,jdbcType=INTEGER},
      </if>
      <if test="bdid != null" >
        Bdid = #{bdid,jdbcType=INTEGER},
      </if>
      <if test="bdate != null" >
        Bdate = #{bdate,jdbcType=DATE},
      </if>
      <if test="buname != null" >
        Buname = #{buname,jdbcType=VARCHAR},
      </if>
      <if test="bstatus != null" >
        Bstatus = #{bstatus,jdbcType=VARCHAR},
      </if>
      <if test="bprice != null" >
        Bprice = #{bprice,jdbcType=REAL},
      </if>
      <if test="bdeliver != null" >
        Bdeliver = #{bdeliver,jdbcType=VARCHAR},
      </if>
      <if test="bordertime != null" >
        Bordertime = #{bordertime,jdbcType=DATE},
      </if>
    </set>
    where Bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.po.Indent" >
    update indent
    set Bconsignee = #{bconsignee,jdbcType=VARCHAR},
      Bsid = #{bsid,jdbcType=INTEGER},
      Baddress = #{baddress,jdbcType=INTEGER},
      Bphone = #{bphone,jdbcType=INTEGER},
      Bdid = #{bdid,jdbcType=INTEGER},
      Bdate = #{bdate,jdbcType=DATE},
      Buname = #{buname,jdbcType=VARCHAR},
      Bstatus = #{bstatus,jdbcType=VARCHAR},
      Bprice = #{bprice,jdbcType=REAL},
      Bdeliver = #{bdeliver,jdbcType=VARCHAR},
      Bordertime = #{bordertime,jdbcType=DATE}
    where Bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>