<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.PointMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.po.Point" >
    <id column="Pid" property="pid" jdbcType="INTEGER" />
    <result column="Pname" property="pname" jdbcType="VARCHAR" />
    <result column="Ppoint" property="ppoint" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Pid, Pname, Ppoint
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaohe.po.PointExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from point
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from point
    where Pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from point
    where Pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaohe.po.PointExample" >
    delete from point
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaohe.po.Point" >
    insert into point (Pid, Pname, Ppoint
      )
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{ppoint,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.po.Point" >
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        Pid,
      </if>
      <if test="pname != null" >
        Pname,
      </if>
      <if test="ppoint != null" >
        Ppoint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ppoint != null" >
        #{ppoint,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaohe.po.PointExample" resultType="java.lang.Integer" >
    select count(*) from point
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update point
    <set >
      <if test="record.pid != null" >
        Pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null" >
        Pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.ppoint != null" >
        Ppoint = #{record.ppoint,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update point
    set Pid = #{record.pid,jdbcType=INTEGER},
      Pname = #{record.pname,jdbcType=VARCHAR},
      Ppoint = #{record.ppoint,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.po.Point" >
    update point
    <set >
      <if test="pname != null" >
        Pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ppoint != null" >
        Ppoint = #{ppoint,jdbcType=REAL},
      </if>
    </set>
    where Pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.po.Point" >
    update point
    set Pname = #{pname,jdbcType=VARCHAR},
      Ppoint = #{ppoint,jdbcType=REAL}
    where Pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>