<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.ShopinfoMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.po.Shopinfo" >
    <id column="Sid" property="sid" jdbcType="INTEGER" />
    <result column="Sname" property="sname" jdbcType="VARCHAR" />
    <result column="Sdetail" property="sdetail" jdbcType="VARCHAR" />
    <result column="Sprice" property="sprice" jdbcType="REAL" />
    <result column="Snum" property="snum" jdbcType="INTEGER" />
    <result column="Simgpath" property="simgpath" jdbcType="VARCHAR" />
    <result column="Stype" property="stype" jdbcType="VARCHAR" />
    <result column="Sweight" property="sweight" jdbcType="REAL" />
    <result column="Sbrand" property="sbrand" jdbcType="VARCHAR" />
    <result column="Sfactory" property="sfactory" jdbcType="VARCHAR" />
    <result column="Sfaddress" property="sfaddress" jdbcType="VARCHAR" />
    <result column="Spronum" property="spronum" jdbcType="INTEGER" />
    <result column="Sstanum" property="sstanum" jdbcType="VARCHAR" />
    <result column="Sfacphone" property="sfacphone" jdbcType="INTEGER" />
    <result column="Sproducedate" property="sproducedate" jdbcType="DATE" />
    <result column="Squalitydate" property="squalitydate" jdbcType="DATE" />
    <result column="Spacktype" property="spacktype" jdbcType="VARCHAR" />
    <result column="Sstoremethod" property="sstoremethod" jdbcType="VARCHAR" />
    <result column="Sml" property="sml" jdbcType="REAL" />
    <result column="Sdegree" property="sdegree" jdbcType="REAL" />
    <result column="Sobject" property="sobject" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Sid, Sname, Sdetail, Sprice, Snum, Simgpath, Stype, Sweight, Sbrand, Sfactory, Sfaddress, 
    Spronum, Sstanum, Sfacphone, Sproducedate, Squalitydate, Spacktype, Sstoremethod, 
    Sml, Sdegree, Sobject
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaohe.po.ShopinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopinfo
    where Sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopinfo
    where Sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaohe.po.ShopinfoExample" >
    delete from shopinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaohe.po.Shopinfo" >
    insert into shopinfo (Sid, Sname, Sdetail, 
      Sprice, Snum, Simgpath, 
      Stype, Sweight, Sbrand, 
      Sfactory, Sfaddress, Spronum, 
      Sstanum, Sfacphone, Sproducedate, 
      Squalitydate, Spacktype, Sstoremethod, 
      Sml, Sdegree, Sobject)
    values (#{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{sdetail,jdbcType=VARCHAR}, 
      #{sprice,jdbcType=REAL}, #{snum,jdbcType=INTEGER}, #{simgpath,jdbcType=VARCHAR}, 
      #{stype,jdbcType=VARCHAR}, #{sweight,jdbcType=REAL}, #{sbrand,jdbcType=VARCHAR}, 
      #{sfactory,jdbcType=VARCHAR}, #{sfaddress,jdbcType=VARCHAR}, #{spronum,jdbcType=INTEGER}, 
      #{sstanum,jdbcType=VARCHAR}, #{sfacphone,jdbcType=INTEGER}, #{sproducedate,jdbcType=DATE}, 
      #{squalitydate,jdbcType=DATE}, #{spacktype,jdbcType=VARCHAR}, #{sstoremethod,jdbcType=VARCHAR}, 
      #{sml,jdbcType=REAL}, #{sdegree,jdbcType=REAL}, #{sobject,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.po.Shopinfo" >
    insert into shopinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        Sid,
      </if>
      <if test="sname != null" >
        Sname,
      </if>
      <if test="sdetail != null" >
        Sdetail,
      </if>
      <if test="sprice != null" >
        Sprice,
      </if>
      <if test="snum != null" >
        Snum,
      </if>
      <if test="simgpath != null" >
        Simgpath,
      </if>
      <if test="stype != null" >
        Stype,
      </if>
      <if test="sweight != null" >
        Sweight,
      </if>
      <if test="sbrand != null" >
        Sbrand,
      </if>
      <if test="sfactory != null" >
        Sfactory,
      </if>
      <if test="sfaddress != null" >
        Sfaddress,
      </if>
      <if test="spronum != null" >
        Spronum,
      </if>
      <if test="sstanum != null" >
        Sstanum,
      </if>
      <if test="sfacphone != null" >
        Sfacphone,
      </if>
      <if test="sproducedate != null" >
        Sproducedate,
      </if>
      <if test="squalitydate != null" >
        Squalitydate,
      </if>
      <if test="spacktype != null" >
        Spacktype,
      </if>
      <if test="sstoremethod != null" >
        Sstoremethod,
      </if>
      <if test="sml != null" >
        Sml,
      </if>
      <if test="sdegree != null" >
        Sdegree,
      </if>
      <if test="sobject != null" >
        Sobject,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sdetail != null" >
        #{sdetail,jdbcType=VARCHAR},
      </if>
      <if test="sprice != null" >
        #{sprice,jdbcType=REAL},
      </if>
      <if test="snum != null" >
        #{snum,jdbcType=INTEGER},
      </if>
      <if test="simgpath != null" >
        #{simgpath,jdbcType=VARCHAR},
      </if>
      <if test="stype != null" >
        #{stype,jdbcType=VARCHAR},
      </if>
      <if test="sweight != null" >
        #{sweight,jdbcType=REAL},
      </if>
      <if test="sbrand != null" >
        #{sbrand,jdbcType=VARCHAR},
      </if>
      <if test="sfactory != null" >
        #{sfactory,jdbcType=VARCHAR},
      </if>
      <if test="sfaddress != null" >
        #{sfaddress,jdbcType=VARCHAR},
      </if>
      <if test="spronum != null" >
        #{spronum,jdbcType=INTEGER},
      </if>
      <if test="sstanum != null" >
        #{sstanum,jdbcType=VARCHAR},
      </if>
      <if test="sfacphone != null" >
        #{sfacphone,jdbcType=INTEGER},
      </if>
      <if test="sproducedate != null" >
        #{sproducedate,jdbcType=DATE},
      </if>
      <if test="squalitydate != null" >
        #{squalitydate,jdbcType=DATE},
      </if>
      <if test="spacktype != null" >
        #{spacktype,jdbcType=VARCHAR},
      </if>
      <if test="sstoremethod != null" >
        #{sstoremethod,jdbcType=VARCHAR},
      </if>
      <if test="sml != null" >
        #{sml,jdbcType=REAL},
      </if>
      <if test="sdegree != null" >
        #{sdegree,jdbcType=REAL},
      </if>
      <if test="sobject != null" >
        #{sobject,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaohe.po.ShopinfoExample" resultType="java.lang.Integer" >
    select count(*) from shopinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shopinfo
    <set >
      <if test="record.sid != null" >
        Sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.sname != null" >
        Sname = #{record.sname,jdbcType=VARCHAR},
      </if>
      <if test="record.sdetail != null" >
        Sdetail = #{record.sdetail,jdbcType=VARCHAR},
      </if>
      <if test="record.sprice != null" >
        Sprice = #{record.sprice,jdbcType=REAL},
      </if>
      <if test="record.snum != null" >
        Snum = #{record.snum,jdbcType=INTEGER},
      </if>
      <if test="record.simgpath != null" >
        Simgpath = #{record.simgpath,jdbcType=VARCHAR},
      </if>
      <if test="record.stype != null" >
        Stype = #{record.stype,jdbcType=VARCHAR},
      </if>
      <if test="record.sweight != null" >
        Sweight = #{record.sweight,jdbcType=REAL},
      </if>
      <if test="record.sbrand != null" >
        Sbrand = #{record.sbrand,jdbcType=VARCHAR},
      </if>
      <if test="record.sfactory != null" >
        Sfactory = #{record.sfactory,jdbcType=VARCHAR},
      </if>
      <if test="record.sfaddress != null" >
        Sfaddress = #{record.sfaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.spronum != null" >
        Spronum = #{record.spronum,jdbcType=INTEGER},
      </if>
      <if test="record.sstanum != null" >
        Sstanum = #{record.sstanum,jdbcType=VARCHAR},
      </if>
      <if test="record.sfacphone != null" >
        Sfacphone = #{record.sfacphone,jdbcType=INTEGER},
      </if>
      <if test="record.sproducedate != null" >
        Sproducedate = #{record.sproducedate,jdbcType=DATE},
      </if>
      <if test="record.squalitydate != null" >
        Squalitydate = #{record.squalitydate,jdbcType=DATE},
      </if>
      <if test="record.spacktype != null" >
        Spacktype = #{record.spacktype,jdbcType=VARCHAR},
      </if>
      <if test="record.sstoremethod != null" >
        Sstoremethod = #{record.sstoremethod,jdbcType=VARCHAR},
      </if>
      <if test="record.sml != null" >
        Sml = #{record.sml,jdbcType=REAL},
      </if>
      <if test="record.sdegree != null" >
        Sdegree = #{record.sdegree,jdbcType=REAL},
      </if>
      <if test="record.sobject != null" >
        Sobject = #{record.sobject,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shopinfo
    set Sid = #{record.sid,jdbcType=INTEGER},
      Sname = #{record.sname,jdbcType=VARCHAR},
      Sdetail = #{record.sdetail,jdbcType=VARCHAR},
      Sprice = #{record.sprice,jdbcType=REAL},
      Snum = #{record.snum,jdbcType=INTEGER},
      Simgpath = #{record.simgpath,jdbcType=VARCHAR},
      Stype = #{record.stype,jdbcType=VARCHAR},
      Sweight = #{record.sweight,jdbcType=REAL},
      Sbrand = #{record.sbrand,jdbcType=VARCHAR},
      Sfactory = #{record.sfactory,jdbcType=VARCHAR},
      Sfaddress = #{record.sfaddress,jdbcType=VARCHAR},
      Spronum = #{record.spronum,jdbcType=INTEGER},
      Sstanum = #{record.sstanum,jdbcType=VARCHAR},
      Sfacphone = #{record.sfacphone,jdbcType=INTEGER},
      Sproducedate = #{record.sproducedate,jdbcType=DATE},
      Squalitydate = #{record.squalitydate,jdbcType=DATE},
      Spacktype = #{record.spacktype,jdbcType=VARCHAR},
      Sstoremethod = #{record.sstoremethod,jdbcType=VARCHAR},
      Sml = #{record.sml,jdbcType=REAL},
      Sdegree = #{record.sdegree,jdbcType=REAL},
      Sobject = #{record.sobject,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.po.Shopinfo" >
    update shopinfo
    <set >
      <if test="sname != null" >
        Sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sdetail != null" >
        Sdetail = #{sdetail,jdbcType=VARCHAR},
      </if>
      <if test="sprice != null" >
        Sprice = #{sprice,jdbcType=REAL},
      </if>
      <if test="snum != null" >
        Snum = #{snum,jdbcType=INTEGER},
      </if>
      <if test="simgpath != null" >
        Simgpath = #{simgpath,jdbcType=VARCHAR},
      </if>
      <if test="stype != null" >
        Stype = #{stype,jdbcType=VARCHAR},
      </if>
      <if test="sweight != null" >
        Sweight = #{sweight,jdbcType=REAL},
      </if>
      <if test="sbrand != null" >
        Sbrand = #{sbrand,jdbcType=VARCHAR},
      </if>
      <if test="sfactory != null" >
        Sfactory = #{sfactory,jdbcType=VARCHAR},
      </if>
      <if test="sfaddress != null" >
        Sfaddress = #{sfaddress,jdbcType=VARCHAR},
      </if>
      <if test="spronum != null" >
        Spronum = #{spronum,jdbcType=INTEGER},
      </if>
      <if test="sstanum != null" >
        Sstanum = #{sstanum,jdbcType=VARCHAR},
      </if>
      <if test="sfacphone != null" >
        Sfacphone = #{sfacphone,jdbcType=INTEGER},
      </if>
      <if test="sproducedate != null" >
        Sproducedate = #{sproducedate,jdbcType=DATE},
      </if>
      <if test="squalitydate != null" >
        Squalitydate = #{squalitydate,jdbcType=DATE},
      </if>
      <if test="spacktype != null" >
        Spacktype = #{spacktype,jdbcType=VARCHAR},
      </if>
      <if test="sstoremethod != null" >
        Sstoremethod = #{sstoremethod,jdbcType=VARCHAR},
      </if>
      <if test="sml != null" >
        Sml = #{sml,jdbcType=REAL},
      </if>
      <if test="sdegree != null" >
        Sdegree = #{sdegree,jdbcType=REAL},
      </if>
      <if test="sobject != null" >
        Sobject = #{sobject,jdbcType=VARCHAR},
      </if>
    </set>
    where Sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.po.Shopinfo" >
    update shopinfo
    set Sname = #{sname,jdbcType=VARCHAR},
      Sdetail = #{sdetail,jdbcType=VARCHAR},
      Sprice = #{sprice,jdbcType=REAL},
      Snum = #{snum,jdbcType=INTEGER},
      Simgpath = #{simgpath,jdbcType=VARCHAR},
      Stype = #{stype,jdbcType=VARCHAR},
      Sweight = #{sweight,jdbcType=REAL},
      Sbrand = #{sbrand,jdbcType=VARCHAR},
      Sfactory = #{sfactory,jdbcType=VARCHAR},
      Sfaddress = #{sfaddress,jdbcType=VARCHAR},
      Spronum = #{spronum,jdbcType=INTEGER},
      Sstanum = #{sstanum,jdbcType=VARCHAR},
      Sfacphone = #{sfacphone,jdbcType=INTEGER},
      Sproducedate = #{sproducedate,jdbcType=DATE},
      Squalitydate = #{squalitydate,jdbcType=DATE},
      Spacktype = #{spacktype,jdbcType=VARCHAR},
      Sstoremethod = #{sstoremethod,jdbcType=VARCHAR},
      Sml = #{sml,jdbcType=REAL},
      Sdegree = #{sdegree,jdbcType=REAL},
      Sobject = #{sobject,jdbcType=VARCHAR}
    where Sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>