<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.BuycarMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.po.Buycar" >
    <id column="Bid" property="bid" jdbcType="INTEGER" />
    <result column="Stid" property="stid" jdbcType="INTEGER" />
    <result column="Bimgpath" property="bimgpath" jdbcType="VARCHAR" />
    <result column="Uname" property="uname" jdbcType="VARCHAR" />
    <result column="Sprice" property="sprice" jdbcType="REAL" />
    <result column="Snum" property="snum" jdbcType="INTEGER" />
    <result column="Ssumprice" property="ssumprice" jdbcType="REAL" />
    <result column="Soperate" property="soperate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Bid, Stid, Bimgpath, Uname, Sprice, Snum, Ssumprice, Soperate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaohe.po.BuycarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from buycar
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from buycar
    where Bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buycar
    where Bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaohe.po.BuycarExample" >
    delete from buycar
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaohe.po.Buycar" >
    insert into buycar (Bid, Stid, Bimgpath, 
      Uname, Sprice, Snum, Ssumprice, 
      Soperate)
    values (#{bid,jdbcType=INTEGER}, #{stid,jdbcType=INTEGER}, #{bimgpath,jdbcType=VARCHAR}, 
      #{uname,jdbcType=VARCHAR}, #{sprice,jdbcType=REAL}, #{snum,jdbcType=INTEGER}, #{ssumprice,jdbcType=REAL}, 
      #{soperate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.po.Buycar" >
    insert into buycar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        Bid,
      </if>
      <if test="stid != null" >
        Stid,
      </if>
      <if test="bimgpath != null" >
        Bimgpath,
      </if>
      <if test="uname != null" >
        Uname,
      </if>
      <if test="sprice != null" >
        Sprice,
      </if>
      <if test="snum != null" >
        Snum,
      </if>
      <if test="ssumprice != null" >
        Ssumprice,
      </if>
      <if test="soperate != null" >
        Soperate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="stid != null" >
        #{stid,jdbcType=INTEGER},
      </if>
      <if test="bimgpath != null" >
        #{bimgpath,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="sprice != null" >
        #{sprice,jdbcType=REAL},
      </if>
      <if test="snum != null" >
        #{snum,jdbcType=INTEGER},
      </if>
      <if test="ssumprice != null" >
        #{ssumprice,jdbcType=REAL},
      </if>
      <if test="soperate != null" >
        #{soperate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaohe.po.BuycarExample" resultType="java.lang.Integer" >
    select count(*) from buycar
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update buycar
    <set >
      <if test="record.bid != null" >
        Bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.stid != null" >
        Stid = #{record.stid,jdbcType=INTEGER},
      </if>
      <if test="record.bimgpath != null" >
        Bimgpath = #{record.bimgpath,jdbcType=VARCHAR},
      </if>
      <if test="record.uname != null" >
        Uname = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.sprice != null" >
        Sprice = #{record.sprice,jdbcType=REAL},
      </if>
      <if test="record.snum != null" >
        Snum = #{record.snum,jdbcType=INTEGER},
      </if>
      <if test="record.ssumprice != null" >
        Ssumprice = #{record.ssumprice,jdbcType=REAL},
      </if>
      <if test="record.soperate != null" >
        Soperate = #{record.soperate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update buycar
    set Bid = #{record.bid,jdbcType=INTEGER},
      Stid = #{record.stid,jdbcType=INTEGER},
      Bimgpath = #{record.bimgpath,jdbcType=VARCHAR},
      Uname = #{record.uname,jdbcType=VARCHAR},
      Sprice = #{record.sprice,jdbcType=REAL},
      Snum = #{record.snum,jdbcType=INTEGER},
      Ssumprice = #{record.ssumprice,jdbcType=REAL},
      Soperate = #{record.soperate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.po.Buycar" >
    update buycar
    <set >
      <if test="stid != null" >
        Stid = #{stid,jdbcType=INTEGER},
      </if>
      <if test="bimgpath != null" >
        Bimgpath = #{bimgpath,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        Uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="sprice != null" >
        Sprice = #{sprice,jdbcType=REAL},
      </if>
      <if test="snum != null" >
        Snum = #{snum,jdbcType=INTEGER},
      </if>
      <if test="ssumprice != null" >
        Ssumprice = #{ssumprice,jdbcType=REAL},
      </if>
      <if test="soperate != null" >
        Soperate = #{soperate,jdbcType=VARCHAR},
      </if>
    </set>
    where Bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.po.Buycar" >
    update buycar
    set Stid = #{stid,jdbcType=INTEGER},
      Bimgpath = #{bimgpath,jdbcType=VARCHAR},
      Uname = #{uname,jdbcType=VARCHAR},
      Sprice = #{sprice,jdbcType=REAL},
      Snum = #{snum,jdbcType=INTEGER},
      Ssumprice = #{ssumprice,jdbcType=REAL},
      Soperate = #{soperate,jdbcType=VARCHAR}
    where Bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>