<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohe.mapper.SaleMapper" >
  <resultMap id="BaseResultMap" type="com.xiaohe.po.Sale" >
    <id column="Soid" property="soid" jdbcType="INTEGER" />
    <result column="Sodid" property="sodid" jdbcType="INTEGER" />
    <result column="Socount" property="socount" jdbcType="INTEGER" />
    <result column="Ssales" property="ssales" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Soid, Sodid, Socount, Ssales
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiaohe.po.SaleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale
    where Soid = #{soid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale
    where Soid = #{soid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaohe.po.SaleExample" >
    delete from sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaohe.po.Sale" >
    insert into sale (Soid, Sodid, Socount, 
      Ssales)
    values (#{soid,jdbcType=INTEGER}, #{sodid,jdbcType=INTEGER}, #{socount,jdbcType=INTEGER}, 
      #{ssales,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.po.Sale" >
    insert into sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="soid != null" >
        Soid,
      </if>
      <if test="sodid != null" >
        Sodid,
      </if>
      <if test="socount != null" >
        Socount,
      </if>
      <if test="ssales != null" >
        Ssales,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="soid != null" >
        #{soid,jdbcType=INTEGER},
      </if>
      <if test="sodid != null" >
        #{sodid,jdbcType=INTEGER},
      </if>
      <if test="socount != null" >
        #{socount,jdbcType=INTEGER},
      </if>
      <if test="ssales != null" >
        #{ssales,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaohe.po.SaleExample" resultType="java.lang.Integer" >
    select count(*) from sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sale
    <set >
      <if test="record.soid != null" >
        Soid = #{record.soid,jdbcType=INTEGER},
      </if>
      <if test="record.sodid != null" >
        Sodid = #{record.sodid,jdbcType=INTEGER},
      </if>
      <if test="record.socount != null" >
        Socount = #{record.socount,jdbcType=INTEGER},
      </if>
      <if test="record.ssales != null" >
        Ssales = #{record.ssales,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sale
    set Soid = #{record.soid,jdbcType=INTEGER},
      Sodid = #{record.sodid,jdbcType=INTEGER},
      Socount = #{record.socount,jdbcType=INTEGER},
      Ssales = #{record.ssales,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.po.Sale" >
    update sale
    <set >
      <if test="sodid != null" >
        Sodid = #{sodid,jdbcType=INTEGER},
      </if>
      <if test="socount != null" >
        Socount = #{socount,jdbcType=INTEGER},
      </if>
      <if test="ssales != null" >
        Ssales = #{ssales,jdbcType=REAL},
      </if>
    </set>
    where Soid = #{soid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.po.Sale" >
    update sale
    set Sodid = #{sodid,jdbcType=INTEGER},
      Socount = #{socount,jdbcType=INTEGER},
      Ssales = #{ssales,jdbcType=REAL}
    where Soid = #{soid,jdbcType=INTEGER}
  </update>
</mapper>